<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSoJzH1OdCUlYShc9bS4IT0zWDRP9Nimw</string>
	<key>GCM_SENDER_ID</key>
	<string>480873981535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notifyme.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>notifyme-c938e</string>
	<key>STORAGE_BUCKET</key>
	<string>notifyme-c938e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480873981535:ios:73afe83e1366929306ddea</string>
</dict>
</plist>